@model Sach

<div>
	ID: <b>@Model.BookId</b> <br />
	Tiêu đề: <b>@Model.Title</b> <br />
	Mã tác giả: <b>@Model.AuthorId</b> <br />
	Năm xuất bản: <b>@Model.PublicationYear</b> <br />
	Thể loại: <b>@Model.Genre</b><br />
</div>